#bl{
	color: burlywood;
	font-size: 19px;
	background-color: yellowgreen;
}
#ye{
	color: orangered;
	font-size: 19px;
	background-color: blanchedalmond;
}
.bro{
	border: 7px limegreen outset;
	margin: 12px;
}

div{
	font-size: 20px;
	background-color: lavender;
	color: firebrick;
}

.coll1{
	font-size: 21px;
	background-color: honeydew;
	color: rebeccapurple;
}
.coll2{
	font-size: 21px;
	background-color:  khaki;
	color: darkorchid;
}
a:hover{
	color: chocolate;
}
